.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    padding: 20px 100px;

}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: 200px;
    font-size: 16px;
    color: white;
}
nav h1{
    font-family: 40px;
}
.tech{
    color: white;
}
.wave{
    color: linear-gradient(100deg,#ff007f, #b900ff);
}
.btn-1{
    border: none;
    border-radius: 40px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 400px;
    color: white;
    background: linear-gradient(30deg, rgb(255, 251, 13), rgb(237, 46, 205), rgb(159, 3, 159));
}
.btn-1 :hover{
    background: linear-gradient(30deg, #fcb047, #ff4fd8);
}
